<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Chart2</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="/static/js/jquery-2.2.1.js" th:src="@{/js/jquery-2.2.1.js}"></script>
<script src="/static/js/highcharts.js" th:src="@{/js/highcharts.js}"></script>
<script src="/static/js/exporting.js" th:src="@{/js/exporting.js}"></script>
<script src="/static/js/data.js" th:src="@{/js/data.js}"></script>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	$(function() {
	$(document).ready(function() {
			var csv = [];
	/* $.getJSON('/getFirstData', function(data) {
		    $.each(data, function(index, element) {
				csv.push([parseInt(element.source),parseInt(element.byteCount) ]);
		    });
		}); */
		for(i = 0 ; i < 10; i++){
			csv.push([i,i+1]);
		}
		console.log(csv);

	$('#container').highcharts({
		chart : {
			renderTo : 'container',
			type : 'spline',
			animation : Highcharts.svg, // don't animate in old IE
			marginRight : 10,
			useUTC : false,
			events : {
				load : function() {
				// set up the updating of the chart each second
				var series = this.series[0];
				setInterval(function() {
					$.getJSON('/getData', function(data) {
						if(data.lengh !== 0){
						$.each(data, function(index, element) {
							series.addPoint([parseInt(element.source),parseInt(element.byteCount)],true,true);
					    });
						}
					});
				}, 2000); //refresh each 2 second
			  }
			}
		},
		title : {
			text : 'Test Data'
		},
		xAxis : {
			type : 'X-value',
			tickPixelInterval : 150
		},
		yAxis : {
			title : {
			text : 'Byte_count'
			},
			plotLines : [ {
			value : 3,
			width : 1,
			color : '#808080'
			} ]
		},
		tooltip : {
			formatter : function() {
				return '<b>'
				+ this.series.name
				+ '</b><br/>'
				+ Highcharts.numberFormat(this.x,2)
				+ '<br/>'
				+ Highcharts.numberFormat(this.y,2);
			}
		},
		legend : {
			enabled : false
		},
		exporting : {
			enabled : false
		},
		series : [ {
			name : 'Count',
			data : csv
		} ]
		
	});
	});
	});
	/*]]>*/
</script>
</head>
<body>
	<div id="container"
		style="min-width: 50px; height: 200px; margin: 0 auto"></div>
</body>
</html>