<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Chart2</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="/static/js/jquery-2.2.1.js" th:src="@{/js/jquery-2.2.1.js}"></script>
<script src="/static/js/highcharts.js" th:src="@{/js/highcharts.js}"></script>
<script src="/static/js/exporting.js" th:src="@{/js/exporting.js}"></script>
<script src="/static/js/data.js" th:src="@{/js/data.js}"></script>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	$(function() {
	$(document).ready(function() {
			var csv = [], x;
	/* $.getJSON('/getFirstData', function(data) {
		    $.each(data, function(index, element) {
				csv.push([parseInt(element.timeString),parseInt(element.byteCount) ]);
		    });
		}); */
		/* for(i = 0 ; i < 2; i++){
			csv.push([i,i+1]);
		} */
		Highcharts.setOptions({
		    global: {
		      useUTC: true
		    }
		  });

		  var data = 'time,count\n18:01:01,3\n18:01:02,7';

		  //$.get('data.csv', function(data) {
		  var lines = data.split('\n');

		  $.each(lines, function(lineNo, line) {
		    if(lineNo > 0) {
		      var items = line.split(',');
		      useUTC: false;
		      x = items[0].split(':');
		      csv.push([Date.UTC(2016,3,10,x[0],x[1],x[2]), parseInt(items[1])]);
		    }
		  });
		console.log(csv);

	$('#container').highcharts({
		chart : {
			renderTo : 'container',
			type : 'spline',
			animation : Highcharts.svg, // don't animate in old IE
			marginRight : 10,
			useUTC : false,
			events : {
				load : function() {
				// set up the updating of the chart each second
				var series = this.series[0];
				setInterval(function() {
					$.getJSON('/getData', function(data) {
						if(data.lengh !== 0){
						$.each(data, function(index, element) {
							item = element.timeString;
							y = parseFloat(element.byteCount);
							useUTC: false;
							x = item.split(':');
							series.addPoint([Date.UTC(2015,1,1,x[0],x[1],x[2]),y],true,false);
					    });
						}
					});
				}, 1000); //refresh each 2 second
			  }
			}
		},
		title : {
			text : 'Test Data'
		},
		xAxis : {
			type : 'datetime',
			tickPixelInterval : 150
		},
		yAxis : {
			title : {
			text : 'Byte_count'
			},
			plotLines : [ {
			value : 3,
			width : 1,
			color : '#808080'
			} ]
		},
		tooltip : {
			formatter: function () {
           		 return '<b>' 
           		 + this.series.name 
           		 + '</b><br/>' 
           		 + Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) 
           		 + '<br/>' 
           		 + Highcharts.numberFormat(this.y, 2);
			}
		},
		legend : {
			enabled : false
		},
		exporting : {
			enabled : false
		},
		series : [ {
			name : 'Count',
			data : csv
		} ]
		
	});
	});
	});
	/*]]>*/
</script>
</head>
<body>
	<div id="container"
		style="min-width: 50px; height: 200px; margin: 0 auto"></div>
</body>
</html>