<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Chart2</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<script src="/static/js/jquery-2.2.1.js" th:src="@{/js/jquery-2.2.1.js}"></script>
<script src="/static/js/highcharts.js" th:src="@{/js/highcharts.js}"></script>
<script src="/static/js/exporting.js" th:src="@{/js/exporting.js}"></script>
<script src="/static/js/data.js" th:src="@{/js/data.js}"></script>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	$(function() {
	$(document).ready(function() {
			var csv = [], x;
	/* $.getJSON('/getFirstData', function(data) {
		    $.each(data, function(index, element) {
				csv.push([parseInt(element.timeString),parseInt(element.byteCount) ]);
		    });
		}); */
		/* for(i = 0 ; i < 2; i++){
			csv.push([i,i+1]);
		} */
		//Highcharts.setOptions({
		   // global: {
		     // useUTC: true
		    //}
		  //});

		 /*  var data = 'time,count\n12:16:01.072093,2600\n12:16:02.072093,1000';

		  //$.get('data.csv', function(data) {
		  var lines = data.split('\n');

		  $.each(lines, function(lineNo, line) {
		    if(lineNo > 0) {
		      var items = line.split(',');
		      //useUTC: false;
		      //x = items[0].split(':');
		      csv.push([items[0], parseInt(items[1])]);
		    }
		  }); */
		  $.getJSON('/loadCSV', function(data) {
				if(data.lengh !== 0){
				$.each(data, function(index, element) {
					//item = element.timeString;
					y = parseFloat(element.byteCount);
					//useUTC: false;
					//x = item.split(':');
					 csv.push([element.timeString,y],true,false);
			    });
				}
			});
		console.log(csv);

	$('#container').highcharts({
		chart : {
			renderTo : 'container',
			type : 'spline',
			animation : Highcharts.svg, // don't animate in old IE
			marginRight : 10,
			useUTC : false,
			events : {
				load : function() {
				// set up the updating of the chart each second
				var series = this.series[0];
				setInterval(function() {
					$.getJSON('/getData', function(data) {
						if(data.lengh !== 0){
						$.each(data, function(index, element) {
							//item = element.timeString;
							y = parseFloat(element.byteCount);
							//useUTC: false;
							//x = item.split(':');
							series.addPoint([element.timeString,y],true,false);
					    });
						}
					});
				}, 1000); //refresh each 2 second
			  }
			}
		},
		title : {
			text : 'Data Transfer vs Time'
		},
		xAxis : {
			type : 'datetime',
			tickPixelInterval : 150
		},
		yAxis : {
			title : {
			text : 'Bytes'
			},
			plotLines : [ {
			value : 3,
			width : 1,
			color : '#808080'
			} ]
		},
		tooltip : {
			formatter: function () {
           		 return '<b>' 
           		 + this.series.name 
           		 + '</b><br/>' 
           		 + Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) 
           		 + '<br/>' 
           		 + Highcharts.numberFormat(this.y, 2);
			}
		},
		legend : {
			enabled : false
		},
		exporting : {
			enabled : false
		},
		series : [ {
			name : 'bytes',
			data : csv
		} ]
		
	});
	});
	});
	/*]]>*/
</script>
</head>
<body>
<div id="headerMenu">
		<nav role="navigation" class="navbar navbar-default">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" data-target="#navbarCollapse"
					data-toggle="collapse" class="navbar-toggle">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand">SDN BigData</a>
			</div>
			<!-- Collection of nav links and other content for toggling -->
			<div id="navbarCollapse" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>
					<li  class="active"><a href="/plot">Dynamics</a></li>
					<li><a href="/dashboard">Dashboard</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/aboutus">About</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<div id="container"
		style="min-width: 50px; height: 200px; margin: 0 auto"></div>
</body>
</html>